

body {
	background-color: #898989;
	margin: 0;
	padding: 0;
	font-size: 0.75em;
	line-height: 1.2em;
	color: white;
}

#wrap {
	width: 971px; 
	text-align: left;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	
	
	min-height: 780px;
	background-color : black;
}

#logo {
	float: left;
	width: 265px;
	margin: 60px 0 0 40px;
}

header {
	height: 151px;
}

.clear {
	clear: both;
}

nav#top_menu {
	width: 600px;
	margin: 50px 20px 0 0;
	float: right;
}

nav#top_menu ul {
	list-style: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: 100;
	color: white;
}

nav#top_menu ul li {
	float: left;
	margin: 0 5px;
}

nav#top_menu a {
	display: block;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color: white;
}

nav#top_menu a:hover {
	background-image: url(../images/red.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

#login {
	float: right;
	margin: 20px 64px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing: 5px;
}

#login a {
	text-decoration: none;
	color: white;
}

#login a:hover {
	color: #F90;
}

footer {
	margin: 50px 0 0 0;
	height: 80px;
	background-image: url(../images/6.jpeg);
	background-repeat: no-repeat;
	background-position: 40px center;
	background-size: 30px;
}

footer hr {
	width: 900px;
	margin: 0 0 0 35px;
}

footer #copy {
	font-family: Verdana, Geneva, sans-serif;
	width: 450px;
	margin: 20px 0 0 190px;
	float: left;
}

footer #social {
	width: 130px;
	margin: 20px 20px 0 0;
	float: right;
}

footer #social img {
	margin: 0 7px;
}

#sub_img {
	/*width: 971px;
	height: 209px;
	*/
}

#sub_img video{
	
	width: 100%;
	height : 200px;
	position : relative;
	z-index: 1;
}


#sub_menu {
	width: 238px;
	float: left;
	margin: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	position: relative;
	z-index: 3;

}

#sub_menu ul {
	margin: 20px 0 0 10px;
	list-style: none;
	z-index:3;
}

#sub_menu a {
	text-decoration: none;
	color: white;
	display: block;
	height: 15px;
	width: 150px;
	padding: 7px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#sub_menu a:hover {
	background-image: url(../images/bullet_orange.gif);
	background-repeat: no-repeat;
	background-position: right center;
	color: #F90;
}



article table#board th {
	text-align: center;
	height: 20px; /* ��ü ���̸� ���� */
	text-transform: capitalize; /* ���� ù���ڸ� �빮�ڷ� */
	font-size: 14px; /* �۲� ������ ���� */
	font-family: sans-serif, "���� ���", "����"; /* �۲� ��� ���� */
	font-weight: bold; /* �۲� �β� ���� */
	padding: 5px; /* �۲ð� ��ü ������ ���� �̼� ���� */
	background-repeat: repeat-x;
	background-position: center center;
	background-image: url(../images/t_back2.jpg); /* ��� ���� */
	color: #FFF; /* �۲� �� ���� */
}

article table#board td {
	text-align: center;
	padding: 6px 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
}

article table#board td.left {
	text-align: left;
	border-left: 10px;
	padding-left: 10px;
}

article th.tno {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 40px;
}

article th.twriter {
	width: 80px;
}

article th.ttitle {
	width: 280px;
	letter-spacing: 0.7em;
}

article th.tread {
	width: 30px;
}

article th.tdate {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 50px;
}